{% extends 'base.html' %}
{% block head %}
    <style>
        .title-container {
            display: flex;
            overflow-x: auto;
            gap: 16px;
            padding: 10px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            scroll-behavior: smooth;
            min-height: 100px;
        }
    </style>
{% endblock %}
{% block content %}
    {% for section in sections %}
        {% include 'item_section.html' with id=section.id section_name=section.section_name section_description=section.section_description section_url=section.section_url empty_message=section.empty_message item_type=section.item_type items=section.items %}
    {% endfor %}
{% endblock %}
