{% extends 'base.html' %}
{%block title%}マイリスト｜{{mylist.name}}{%endblock%}
{% block head %}
    <style>
        .title-container {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            padding: 10px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
        }
    </style>
{%endblock%}
{% block content %}
    {%if request.user == mylist.user %}<ul><li><a href="{% url 'records:mylist_edit' mylist.id%}">編集</a></li></ul>{%endif%}
    <h1>{{mylist.name}}</h1>
    <h2></h2>
    <p>{{mylist.description}}</p>
    <div class="title-section">
        <h2>タイトル</h2>
        <p>{{mylist.titles.count}}件</p>
        <div class="title-container">
        {%if mylist.titles%}
            {% for item in mylist.titles.all%}
            <a href="{% url 'titles:title_detail' item.id %}" class="title-item">
                <h3>{{item.title}}</h3>
                <p>{{item.content_without_url|safe|linebreaksbr}}</p>
            </a>
            {% endfor %}
        {%else%}
            <h3>見つかりませんでした</h3>
        {%endif%}
        </div>
    </div>
    <h3>タグ</h3>
    <ul>
        {%for i in mylist.tags.all%}
        <li><a href="{% url 'records:tag_detail' i.id%}">{{i.name}}</a></li>
        {%endfor%}
    </ul>
{% endblock %}
