{% extends 'base.html' %}
{% block title %}マイページ{% endblock %}
{%block head%}
<style>
    .title-container {
        display: flex;
        overflow-x: auto;
        gap: 16px;
        padding: 10px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        scroll-behavior: smooth;
        min-height: 100px;
    }
    @media (max-width: 600px) {
        .logout {
            display: block;
        }
        button[id="logout"]{
            display: block;
        }
    }
</style>
{%endblock%}
{%block content%}
<ul><li><a href="{%url 'records:mystats'%}">統計</a></li></ul>
<ul><li><a href="{%url 'records:myreview'%}">マイレビュー</a></li></ul>
    <h1>{%if user.nickname%}{{user.nickname}}さん{%else%}あなた{%endif%}の記録</h1>
    <div class="title-section">
        <h2><a href="{% url 'records:search'%}?status=watching">視聴中</a></h2>
        <div class="title-container">
        {%if watching_titles%}
            {% for item in watching_titles%}
            <a href="{% url 'records:review_detail' item.id %}" class="title-item">
                <h3>{{item.comment_title}}</h3>
                <p>{{item.title}}</p>
            </a>
            {% endfor %}
        {%else%}
            <h3>まだ何も登録されていません</h3>
        {%endif%}
        </div>
    </div>
    <div class="title-section">
        <h2><a href="{% url 'records:search'%}?status=watched">視聴済み</a></h2>
        <div class="title-container">
        {%if watched_titles%}
            {% for item in watched_titles%}
            <a href="{% url 'records:review_detail' item.id %}" class="title-item">
                <h3>{{item.comment_title}}</h3>
                <p>{{item.title}}</p>
            </a>
            {% endfor %}
        {%else%}
            <h3>まだ何も登録されていません</h3>
        {%endif%}
        </div>
    </div>
    <div class="title-section">
        <h2><a href="{% url 'records:search'%}?status=not_watched">未視聴</a></h2>
        <div class="title-container">
        {%if not_watched_titles%}
            {% for item in not_watched_titles%}
            <a href="{% url 'records:review_detail' item.id %}" class="title-item">
                <h3>{{item.comment_title}}</h3>
                <p>{{item.title}}</p>
            </a>
            {% endfor %}
        {%else%}
            <h3>まだ何も登録されていません</h3>
        {%endif%}
        </div>
    </div>
    <div class="title-section">
        <h2><a href="{% url 'records:search'%}?status=dropped">視聴中断</a></h2>
        <div class="title-container">
        {%if dropped_titles%}
            {% for item in dropped_titles%}
            <a href="{% url 'records:review_detail' item.id %}" class="title-item">
                <h3>{{item.comment_title}}</h3>
                <p>{{item.title}}</p>
            </a>
            {% endfor %}
        {%else%}
            <h3>まだ何も登録されていません</h3>
        {%endif%}
        </div>
    </div>
    <div class="title-section">
        <h2>視聴状況不明</h2>
        <div class="title-container">
        {%if none_watched_titles%}
            {% for item in none_watched_titles%}
            <a href="{% url 'records:review_detail' item.id %}" class="title-item">
                <h3>{{item.comment_title}}</h3>
                <p>{{item.title}}</p>
            </a>
            {% endfor %}
        {%else%}
            <h3>まだ何も登録されていません</h3>
        {%endif%}
        </div>
    </div>
   <div class="title-section">
        <h2><a href="{% url 'records:mylist' %}">マイリスト</a></h2>
        <div class="title-container">
        {%if my_lists%}
            {% for item in my_lists%}
            <a href="{% url 'records:mylist_detail' item.id %}" class="title-item">
                <h3>{{item.name}}</h3>
                <p>{{item.description}}</p>
            </a>
            {% endfor %}
        {%else%}
            <h3>まだ何も登録されていません</h3>
        {%endif%}
        </div>
    </div>
{%endblock%}