{% extends 'base.html' %}
{% block title %}マイページ{% endblock %}
{% block head %}
    <style>
        @media (max-width: 600px) {
            .logout {
                display: block;
            }
            button[id="logout"] {
                display: block;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <h1>{% if user.nickname %}{{ user.nickname }}さん{% else %}あなた{% endif %}の記録</h1>
    <ul>
        <li><a href="{% url 'records:mystats' %}">統計</a></li>
        <li><a href="{% url 'records:myreview' %}">マイレビュー</a></li>
        <li><a href="{% url 'records:export' %}">データエクスポート</a></li>
    </ul>
    <div class="tabs">
        <button class="tab-button active" data-target="tab-titles">タイトル</button>
        <button class="tab-button" data-target="tab-episodes">エピソード</button>
    </div>
    <div class="tab-content active" id="tab-titles">
        {% for section in title_sections %}
            {% include 'item_section.html' with id=section.id section_name=section.section_name section_url=section.section_url empty_message=section.empty_message items=section.items %}
        {% endfor %}
    </div>
    <div class="tab-content" id="tab-episodes">
        {% for section in episode_sections %}
            {% include 'item_section.html' with id=section.id section_name=section.section_name section_url=section.section_url empty_message=section.empty_message items=section.items %}
        {% endfor %}
    </div>
{% endblock %}
