{% extends 'base.html' %}
{% block title %}{{ watch_record.title.title }}｜レビュー詳細{% endblock %}
{% block content %}
    {% if watch_record.user == user %}
        <ul>
            <li><a href="{% url 'records:review_edit' watch_record.id %}">レビュー編集</a></li>
        </ul>
    {% endif %}
    <br />
    <h1>{{ watch_record.comment_title }}</h1>
    <h2>
        {{ watch_record.get_status_display }}｜視聴日:{{ watch_record.watched_date|date:"Y年m月d日" }}｜評価:{{ watch_record.rating }}｜視聴方法:{{ watch_record.watch_method }}
    </h2>
    <p>{{ watch_record.comment|safe|linebreaksbr }}</p>
    <h3><a href="{% url 'titles:title_detail' watch_record.title.id %}">{{ watch_record.title }}｜シーズン{{ watch_record.title.season }}</a></h3>
    <h3>タグ</h3>
    <ul>
        {% for i in watch_record.tags.all %}
            <li><a href="{% url 'records:tag_detail' i.id %}">{{ i.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
